<%- include ("partials/header") %>
<body class="home-user">
  <main class="home">
    <div class="">
      <h1 style="color: black">Hello <strong><%= username%>,</strong></h1>
    </div>
    <div class="container">
      <div class="row">
        <!-- ################ USER INFO ################ -->

        <div class="col-6 card m-3" style="width: 18rem">
          <div class="card-body">
            <h3 class="report-title"><strong>My Info</strong></h3>
            <div class="report-body">
              <div>
                <hr />
                <!-- #### SHOW info -->

                <details>
                  <summary>
                    <h5 class="report-title">Personal Info</h5>
                  </summary>
                  <div class="report-body">
                    <div>
                      <fieldset>
                        <p>
                          <label for="newPass"
                            >Username: <strong><%= username%></strong> </label
                          ><br />
                        </p>
                      </fieldset>
                    </div>
                  </div>
                </details>
                <!-- #### UPDATE PASSWORD -->
                <hr />
                <details>
                  <summary>
                    <h5 class="report-title">Change Password</h5>
                  </summary>
                  <div class="report-body">
                    <div>
                      <form action="/test" method="get">
                        <fieldset>
                          <input
                            name="password"
                            id="password"
                            value="<%= password%>"
                            type="hidden"
                          />
                          <input
                            name="username"
                            id="username"
                            value="<%= username%>"
                            type="hidden"
                          />
                          <input
                            name="type"
                            id="type"
                            value="update-pass"
                            type="hidden"
                          />
                          <p>
                            <label for="newPass">PASSWORD</label><br />
                            <input type="text" name="newPass" id="newPass" />
                          </p>
                        </fieldset>
                        <button type="submit" class="btn btn-info">
                          submit
                        </button>
                      </form>
                    </div>
                  </div>
                </details>
                <hr />
                <!-- #### UPDATE EMAIL -->

                <details>
                  <summary>
                    <h5 class="report-title">Change Email</h5>
                  </summary>
                  <div class="report-body">
                    <div>
                      <form action="/test" method="get">
                        <fieldset>
                          <input
                            name="username"
                            id="username"
                            value="<%= username%>"
                            type="hidden"
                          />
                          <input
                            name="type"
                            id="type"
                            value="update-email"
                            type="hidden"
                          />
                          <p>
                            <label for="newEmail">EMAIL</label><br />
                            <input type="email" name="newEmail" id="newEmail" />
                          </p>
                        </fieldset>
                        <button type="submit" class="btn btn-info">
                          submit
                        </button>
                      </form>
                    </div>
                  </div>
                </details>
              </div>
            </div>
          </div>
        </div>
        <!-- ################ PACKAGES ################ -->
        <div class="col-6 card m-3" style="width: 18rem">
          <div class="card-body">
            <h3 class="report-title"><strong>PACKAGES</strong></h3>
            <!-- #### SHOW -->
            <details>
              <summary><h5 class="report-title">SHOW my packages</h5></summary>
              <div class="report-body">
                <div>
                  <form action="/test" method="get">
                    <fieldset>
                      <input
                        name="username"
                        id="username"
                        value="<%= username%>"
                        type="hidden"
                      />
                      <input
                        name="type"
                        id="type"
                        value="show-user"
                        type="hidden"
                      />
                    </fieldset>
                    <button type="submit" class="btn btn-info">submit</button>
                  </form>
                </div>
              </div>
            </details>
            <hr />
            <!-- #### RECEIVE PACK -->
            <details>
              <summary>
                <h5 class="report-title">SHOW coming packages</h5>
              </summary>
              <div class="report-body">
                <div>
                  <form action="/test" method="get">
                    <fieldset>
                      <input
                        name="username"
                        id="username"
                        value="<%= username%>"
                        type="hidden"
                      />
                      <input
                        name="type"
                        id="type"
                        value="coming-pkgs"
                        type="hidden"
                      />
                    </fieldset>
                    <button type="submit" class="btn btn-info">submit</button>
                  </form>
                </div>
              </div>
            </details>
            <hr />
            <!-- #### REMOVE [DEL] -->
            <!-- #### SERACH-CATEGORY ##### -->
          </div>
        </div>
        <hr />
        <!-- ################ USER ################ -->
        <!-- `select status from package p join user u on p.sender_username ==u.username WHERE u.username == ${username}` -->

        <!-- #### CARD FORMAT -->

        <div class="col-6 card m-3" style="width: 18rem">
          <div class="card-body">
            <details>
              <summary><h5 class="report-title">Search category</h5></summary>
              <form action="/test" method="get">
                <fieldset>
                  <input
                    name="type"
                    id="type"
                    value="search-many"
                    type="hidden"
                  />
                  <input
                    name="username"
                    id="username"
                    value="<%= username%>"
                    type="hidden"
                  />
                  <div class="report-body">
                    <div>
                      <p>
                        <label for="category">Category</label><br />

                        <select name="category" id="category" required>
                          <option value="fragile">Fragile</option>
                          <option value="regular">Regular</option>
                          <option value="liquid">Liquid</option>
                          <option value="chemical">Chemical</option>
                        </select>
                      </p>
                    </div>
                  </div>
                  <hr />
                  <!-- #### SERACH-CITY -->

                  <div class="report-body">
                    <div>
                      <p>
                        <label for="city">City</label><br />
                        <input type="text" name="city" id="city" required />
                      </p>
                    </div>
                  </div>
                  <hr />
                  <!-- #### SERACH-DATE -->
                  <div class="report-body">
                    <div>
                      <p>
                        <label for="datestart">BETWEEN</label><br />
                        <input
                          type="date"
                          name="datestart"
                          id="datestart"
                          required
                        />
                      </p>
                      <p>
                        <label for="dateend"></label><br />
                        <input
                          type="date"
                          name="dateend"
                          id="dateend"
                          required
                        />
                      </p>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-info">submit</button>
                </fieldset>
              </form>
            </details>
          </div>
        </div>
        <!-- ####ADD -->
        <div class="col-6 card m-3" style="width: 18rem">
          <div class="card-body">
            <details>
              <summary><h5 class="report-title">Tracking</h5></summary>
              <form action="/test" method="get">
                <fieldset>
                  <input
                    name="type"
                    id="type"
                    value="search-track"
                    type="hidden"
                  />
                  <input
                    name="username"
                    id="username"
                    value="<%= username%>"
                    type="hidden"
                  />
                  <div class="report-body">
                    <div>
                      <p>
                        <label for="package_id">Package ID</label><br />
                        <input type="text" name="package_id" id="package_id" />
                      </p>
                    </div>
                  </div>
                  <hr />
                  <button type="submit" class="btn btn-info">submit</button>
                </fieldset>
              </form>
            </details>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

<%- include ("partials/footer") %>
